/* This is the main CSS style for this site - Comments will explain how the code works! */

/* Now 'body' is the selector, we are saying that 'this is how the 'body' should look like,
basically, if we want ALL the paragraph to look like a certain way, we type paragraph {...;}
*/

/* This is the style for the main list on the landing page - we are using a type selector here */
.main {
    color: grey; /* This is actuall the text colour! */
    font-weight: regular; /* Font weight */
    text-align: left; /* Where the text aligns - since this is applied on the body, all the body stuff will be aligned centred*/
    margin-top: 10px; /* Margin from top */
    font-size: 50px; /* Font size */
    font-family: 'Courier New', Courier, monospace, sans-serif;
}

.h1 {
    color: grey; /* This is actuall the text colour! */
    font-weight: regular; /* Font weight */
    text-align: left; /* Where the text aligns - since this is applied on the body, all the body stuff will be aligned centred*/
    margin-top: 10px; /* Margin from top */
    font-size: 50px; /* Font size */
    font-family: monospace, sans-serif;
}

body {
    background: lightsteelblue; /* This is the background colour */
}

img {
    display: block; /* We always use block displays so elements 'stacks' on top of each other */
    height: auto;
    width: 500px;
}

*{
    border: 2px solid red;
}